body{
  margin:-3px;
}
*{
  background-color: #e8e8e8;
}
.head{
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  width: 100%;
  line-height: 56px;
  letter-spacing: 0%;
  background-color: white;
  margin-top:0px;
  padding:20px;
}
.mainsearch{
  color: black;
  font-weight: 400;
  background-color: white;
  border:none;
  padding:0.2%;
  margin-top:20px;
  width: 15%;
}
::placeholder{
  color: black;
}
.center{
  height: 10%;
  margin: auto;
  flex:1;
  margin: 1%;
  text-align: center;

}
.container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly !important;
}
.grid_container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-items: center;
  margin: 0 10% 0 10%;
}
.count{
  margin-left: 12%;
  color: black;
}
.more{
  color: #007AFF;
  border:none;
  margin-bottom: 10%;
}
@font-face {
  font-family: Samsung;
  src: url("../Styles/SamsungOne.woff");
  font-weight: bold;
}