
div.product {
    background-color: white;
    padding: 1%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-radius: 30px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
img{
    width: 80%;
    align-self: center;
    margin: 3% 0 3% 0;
}
div.product *{
    font-weight: 700;
    background-color: white;
}
h2{
    align-self: start;

    font-size: 18px;
}
.price{
    font-family: 'Samsung' !important;
    font-size: 40px;
    margin-top: 7%;
    grid-row: 1/3;
}
.price_container{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 50% 50%;
    width: 10%;
    height: 10%;
}
p.price ~ p{
    width: 130% !important;
    text-align: right !important;
    margin: auto;
    height: 50%;

}
.product-info{
    margin: 0% 5% 0% 5%;
}
.desc{
    color: darkgray !important;
    margin-top: -1%;
    align-items: center !important;
}
.cent{
    display: flex !important;
    align-items: center;
    gap: 1%;
}
.value{
    color: black;
    line-height: 1.3em;
}
.energy{
    width: 10%;
}
.button{
    background-color: #1428A0 !important;
    color: white;
    width: 50%;
    padding: 2%;
    border-radius: 30px;
    font-family: 'Samsung' !important;
    display: flex;
    justify-content: center;
    margin: 0 auto 10% auto;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border: none;
    font-weight: 700;
    font-size: 14px !important;
}
.button.active{
    background-color: black !important;
    border: none;
}
@font-face {
    font-family: Samsung;
    src: url("../Styles/SamsungOne.woff");
    font-weight: bold;
}